{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<h1>{{title}}</h1>

<p><img class="img-article-left" src="{% static 'service/images/privacy.jpg' %}"></p>

<p>Наша команда дуже цінує вашу конфіденційність. Ми прагнемо забезпечити вам приємний та корисний досвід
використання Інтернету. Ви можете спокійно користуватися різноманітними інформаційними ресурсами,
    інструментами та можливостями, що пропонуються в Інтернеті.</p>

<p>Особиста інформація, яку ми збираємо від користувачів під час реєстрації або в будь-який інший час,
використовується переважно для підготовки продуктів або надання послуг, враховуючи ваші потреби. Ми не
передаємо або не продаємо вашу інформацію третім особам. Проте, в окремих випадках ми можемо частково
розкривати особисту інформацію, наприклад, при проведенні акційних електронних розсилок.</p>

<p>На нашому веб-сайті збираються такі дані, як ваше ім'я, телефон і електронна пошта через контактну форму.
Ім'я використовується для особистого звернення до вас, а ваша електронна пошта використовується для
надсилання вам листів розсилок, новин, корисних матеріалів та комерційних пропозицій. Ваші ім'я та
електронна пошта не передаються третім особам, крім випадків, пов'язаних з виконанням вимог законодавства.
Ваші дані знаходяться на захищених серверах сервісу getresponse.com і використовуються відповідно до
їхньої політики конфіденційності.</p>

<p>Ви можете відмовитися від отримання листів розсилок і видалити свої контактні дані з бази даних в
будь-який момент, клікнувши на посилання для відписки, яке міститься у кожному листі.</p>

<p>На нашому веб-сайті використовуються файли cookie і дані про відвідувачів через сервіс Google Analytics.
Ці дані допомагають нам збирати інформацію про дії відвідувачів на сайті з метою поліпшення змісту і
функціональності, створення якісного контенту та послуг для наших відвідувачів. Ви можете змінити
налаштування свого браузера, щоб блокувати файли cookie або отримувати повідомлення про їх відправку.
Будьте уважні, так як у такому випадку деякі функції і послуги можуть не працювати належним чином.</p>

<p>Ми вживаємо різноманітних адміністративних, управлінських та технічних заходів безпеки для захисту
вашої особистої інформації. Наша компанія відповідає міжнародним стандартам контролю, спрямованим на
захист особистих даних, і застосовує відповідні заходи контролю за збереженням та захистом інформації
в Інтернеті. Наші співробітники ознайомлені з політикою конфіденційності, нормами та інструкціями, і ми
постійно навчаємо їх виконувати ці заходи. Однак, незважаючи на всі наші заходи безпеки, важливо пам'ятати,
що ви також повинні вживати заходів для захисту своєї особистої інформації. Ми настійно рекомендуємо вам
прийняти всі необхідні заходи обережності під час перебування в Інтернеті. Наші послуги та веб-сайти
включають заходи для запобігання витоку, несанкціонованого використання та зміни інформації, яку ми
контролюємо.</p>

<p>Ми робимо все можливе для забезпечення цілісності та безпеки нашої мережі і систем. Однак, ми не можемо
гарантувати, що наші заходи безпеки повністю захистять інформацію від незаконного доступу з боку
зловмисників зовнішніх організацій.</p>

<p>Якщо політика конфіденційності буде змінена, ми опублікуємо повідомлення про це на цій сторінці або
надішлемо повідомлення на вашу електронну пошту (в особливих випадках).</p>

<p>Якщо у вас є будь-які питання, ви можете зв'язатися з адміністратором сайту, написавши листа на
    електронну адресу: <a href="mailto: sitarnet@ukr.net"></a>sitarnet@ukr.net</p>

{% endblock %}